@font-face {
    src: url("fonts/NunitoSans-Regular.ttf");
    font-family: "NunitoSans-Regular";
}
@font-face {
    src: url("fonts/NunitoSans-Italic.ttf");
    font-family: "NunitoSans-Italic";
}
@font-face {
    src: url("fonts/YesevaOne-Regular.ttf");
    font-family: "YesevaOne-Regular";
}

body {
	margin: 0;
	font-family: 'Nunito Sans', Arial, sans-serif;
}
body * {
	box-sizing: border-box;
}
/*-----------------HEADER----------------------*/
.container {
	max-width: 1250px;
	margin: 0 auto;
}

.button {
	background: #E3B873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	border-radius: 2px;
	border: 0;
	padding: 13px 33px;
	color: white;
	text-transform: uppercase;
	margin-left: 45px;
	font-style: italic;
}

.logo {
	color: #E3B873;
	white-space: nowrap;
}

.header {
	background-color: black;
}

.header-content {
	display: flex;
	justify-content: space-between;
	height: 83px;
	align-items: center;
}

.header-navigation {
	list-style: none;
	display: flex;
}

.header-navigation__item {
	margin-right: 47px;
}

.header-navigation__item a {
	text-decoration: none;
	color: white;
}
.link {
	white-space: nowrap;
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	text-decoration-line: underline;
	color: #E3B873;
}
/*------------MAIN-----------------------*/
.hero {
	background-image: url(img/image.jpg);
	background-size: cover;
	height: 707px;
	padding-top: 194px;
	position: relative;
}

.hero-overlay {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .7);
}

.hero-container {
	position: relative;
	z-index: 1;
}

.title {
		margin: 0;
	font-family: 'Yeseva One';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 53px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.cityName {
	color: #E3B873;;
}

.title2 {
	font-family: 'Nunito Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 36px;
	color: #FFFFFF;
}

.button2 {
	background: #E3B873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
	border-radius: 2px;
	border: 0px;
	padding: 19px 42px 20.65px 41px;
	font-family: 'Nunito Sans';
	font-style: italic;
	font-weight: 400;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	color: #FFFFFF;


}
.button3 {
	border: 1px solid #FFFFFF;
	border-radius: 2px;
	background: rgba(0, 0, 0, 0.7);
	font-family: 'Nunito Sans';
	font-style: italic;
	font-weight: 400;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	color: #FFFFFF;
	padding: 19.09px 23px 20.57px 22px;
	background-color: transparent;
	margin-left: 40px;
}

.hero2 {
	background-color: black;
	background-size: cover;
	height: 823px;
}
.main-navigation {
	list-style: none;
	display: flex;
	flex-direction: row-reverse;
	margin-top: 0px;
	padding: 82px 0px 0px 0px;
}
.main-navigation__item {
	margin-right: 65px;
}

.Admiral {
	font-family: 'Yeseva One';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	color: #E3B873;
}
.main-navigation__item a {
	font-family: 'Yeseva One';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.3);
}